openapi: 3.0.0
info:
  title: 'Portal 2.0 API'
  description: 'The Credit Pros - DEV Portal 2.1 API'
  termsOfService: 'http://www.thecreditpros.com/terms/'
  contact:
    name: 'TCP API Support'
    email: apiteam@thecreditpros.com
  version: '1.1'
servers:
  -
    url: 'https://api-dev2.thecreditpros.com/portal2admin'
    description: 'AWS GW Dev Environment'
paths:
  /api/account_responsibility_add:
    post:
      tags:
        - 'Account Responsibilities'
      summary: 'Add Account Responsibility'
      description: "Save the Account Responsibilities by providing a Bearer token in the 'Authorization' header."
      operationId: saveAccountResponsibility
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveAccountResponsibilityRequest'
      responses:
        200:
          description: 'Account Responsibilities saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/saveAccountResponsibilityResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_responsibility_add'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  '/api/account_responsibility_update/{accountResponId}':
    post:
      tags:
        - 'Account Responsibilities'
      summary: 'Update Account Responsibility'
      description: "Update the Account Responsibility by providing a Bearer token in the 'Authorization' header."
      operationId: accountResponsibilityUpdate
      parameters:
        -
          name: accountResponId
          in: path
          description: 'accountRespon ID (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/accountResponsibilityUpdateRequest'
      responses:
        200:
          description: 'Account Responsibility updated successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountResponsibilityResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_responsibility_update/{accountResponId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.accountResponId: method.request.querystring.accountResponId
        passthroughBehavior: when_no_match
        type: http
  '/api/account_responsibility/{accountResponId}':
    delete:
      tags:
        - 'Account Responsibilities'
      summary: 'Delete a Account Responsibility by ID'
      description: 'Delete a Account Responsibility by specifying the ID.'
      operationId: accountResponsibilityDestroy
      parameters:
        -
          name: accountResponId
          in: path
          description: 'ID of the Account Responsibility to delete'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Account Responsibility deleted successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountResponsibilityDestroyResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Delete
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_responsibility/{accountResponId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.accountResponId: method.request.querystring.accountResponId
        passthroughBehavior: when_no_match
        type: http
  /api/get_account_responsibilities:
    get:
      tags:
        - 'Account Responsibilities'
      summary: 'Get all Account Responsibilities'
      description: "Retrieve Account Responsibilities by providing a Bearer token in the 'Authorization' header."
      operationId: getAllAccountResponsibilities
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Account Responsibilities listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllAccountResponsibilitiesResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/get_account_responsibilities'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  /api/account_status:
    post:
      tags:
        - 'Account Status'
      summary: 'Get all AccountStatus'
      description: "Retrieve Account Status by providing a Bearer token in the 'Authorization' header."
      operationId: getAccountStatus
      parameters:
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: true
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: true
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: page
          in: query
          description: 'Page number (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/getAccountStatusRequest'
      responses:
        200:
          description: 'Account Status listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountStatusResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_status'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.page: method.request.querystring.page
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/account_status_add:
    post:
      tags:
        - 'Account Status'
      summary: 'Add Account Status'
      description: "Save the Account Status by providing a Bearer token in the 'Authorization' header."
      operationId: saveAccountStatus
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveAccountStatusRequest'
      responses:
        200:
          description: 'Account Status saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/saveAccountStatusResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_status'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  '/api/account_status_update/{accountStatusId}':
    post:
      tags:
        - 'Account Status'
      summary: 'Update Account Status'
      description: "Update the Account Status by providing a Bearer token in the 'Authorization' header."
      operationId: accountStatusUpdate
      parameters:
        -
          name: accountStatusId
          in: path
          description: 'ID of the filter to update Account Status'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/accountStatusUpdateRequest'
      responses:
        200:
          description: 'Account Status updated successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountStatusUpdateResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_status_update/{accountStatusId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.accountStatusId: method.request.querystring.accountStatusId
        passthroughBehavior: when_no_match
        type: http
  '/api/account_status/{accountStatusId}':
    delete:
      tags:
        - 'Account Status'
      summary: 'Delete a Account Status by ID'
      description: 'Delete a Account Status by specifying the ID.'
      operationId: accountStatusDestroy
      parameters:
        -
          name: accountStatusId
          in: path
          description: 'ID of the Account Status to delete'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Account Status deleted successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountStatusDestroyResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Delete
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_status/{accountStatusId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.accountStatusId: method.request.querystring.accountStatusId
        passthroughBehavior: when_no_match
        type: http
  /api/get_account_status:
    get:
      tags:
        - 'Account Status'
      summary: 'Get all Account Status'
      description: "Retrieve Account Status by providing a Bearer token in the 'Authorization' header."
      operationId: getAllAccountStatus
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Account Status listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllAccountStatusResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/get_account_status'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  /api/account_types:
    post:
      tags:
        - 'Account Type'
      summary: 'Get all AccountTypes'
      description: "Retrieve Account Types by providing a Bearer token in the 'Authorization' header."
      operationId: getAccountTypes
      parameters:
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: true
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: true
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: page
          in: query
          description: 'Page number (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdvancedFilteredRequest'
      responses:
        200:
          description: 'Account Types listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountTypesResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_types'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.page: method.request.querystring.page
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/account_type_add:
    post:
      tags:
        - 'Account Type'
      summary: 'Add Account Type'
      description: "Save the Account Type by providing a Bearer token in the 'Authorization' header."
      operationId: saveAccountType
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveAccountTypeRequest'
      responses:
        200:
          description: 'Account Type saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/saveAccountTypeResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_types'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  '/api/account_type_update/{accountTypesId}':
    post:
      tags:
        - 'Account Type'
      summary: 'Update Account Type'
      description: "Update the Account Type by providing a Bearer token in the 'Authorization' header."
      operationId: AccountTypeUpdate
      parameters:
        -
          name: accountTypesId
          in: path
          description: 'ID of the filter to update Account Type'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveAccountTypeRequest'
      responses:
        200:
          description: 'Account Type updated successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTypeUpdateResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_type_update/{accountTypesId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.accountTypesId: method.request.querystring.accountTypesId
        passthroughBehavior: when_no_match
        type: http
  '/api/account_type/{accountTypeId}':
    delete:
      tags:
        - 'Account Type'
      summary: 'Delete a Account type by ID'
      description: 'Delete a Account type by specifying the ID.'
      operationId: accountTypesDestroy
      parameters:
        -
          name: accountTypeId
          in: path
          description: 'ID of the Account type to delete'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Account Type deleted successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountTypesDestroyResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Delete
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/account_type/{accountTypeId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.accountTypeId: method.request.querystring.accountTypeId
        passthroughBehavior: when_no_match
        type: http
  /api/get_account_types:
    get:
      tags:
        - 'Account Type'
      summary: 'Get all Account Types'
      description: "Retrieve Account Types by providing a Bearer token in the 'Authorization' header."
      operationId: getAllAccountTypes
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Account Types listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllAccountTypesResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/get_account_types'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  '/api/item_activity/{clientid}/{itemid}':
    get:
      tags:
        - Activity
      summary: 'Get all Item Activities'
      description: "Retrieve item activities by providing a Bearer token in the 'Authorization' header."
      operationId: getItemActivity
      parameters:
        -
          name: clientid
          in: path
          description: 'Client ID (e.g., 1600)'
          required: true
          schema:
            type: integer
        -
          name: itemid
          in: path
          description: 'Item ID (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: search
          in: query
          description: 'search field (e.g., test)'
          required: false
          schema:
            type: string
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: false
          schema:
            type: string
        -
          name: perpage
          in: query
          description: "per page ('1')"
          required: false
          schema:
            type: integer
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Item activity listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getItemActivityResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/item_activity/{clientid}/{itemid}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.clientid: method.request.querystring.clientid
          integration.request.path.itemid: method.request.querystring.itemid
          integration.request.querystring.search: method.request.querystring.search
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  '/api/client_activity/{clientid}':
    get:
      tags:
        - Activity
      summary: 'Get all Client Activities'
      description: "Retrieve client activities by providing a Bearer token in the 'Authorization' header."
      operationId: ClientActivity
      parameters:
        -
          name: clientid
          in: path
          description: 'Client ID (e.g., 1600)'
          required: true
          schema:
            type: integer
        -
          name: search
          in: query
          description: 'search field (e.g., test)'
          required: false
          schema:
            type: string
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: false
          schema:
            type: string
        -
          name: perpage
          in: query
          description: "per page ('1')"
          required: false
          schema:
            type: integer
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Client activity listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostClientActivityResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/client_activity/{clientid}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.clientid: method.request.querystring.clientid
          integration.request.querystring.search: method.request.querystring.search
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  '/api/client_activity_export/{clientid}':
    get:
      tags:
        - Activity
      summary: 'Get Client Export Activities'
      description: "Client activities exports by providing a Bearer token in the 'Authorization' header."
      operationId: clientActivityExport
      parameters:
        -
          name: clientid
          in: path
          description: 'Client ID (e.g., 1600)'
          required: true
          schema:
            type: integer
        -
          name: search
          in: query
          description: 'search field (e.g., test)'
          required: false
          schema:
            type: string
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: false
          schema:
            type: string
        -
          name: perpage
          in: query
          description: "per page ('1')"
          required: false
          schema:
            type: integer
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Client activity exports successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clientActivityExportResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/client_activity_export/{clientid}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.clientid: method.request.querystring.clientid
          integration.request.querystring.search: method.request.querystring.search
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  '/api/totalActivity/{clientid}':
    post:
      tags:
        - Activity
      summary: 'Get Client Total Activities'
      description: "Total client activities by providing a Bearer token in the 'Authorization' header."
      operationId: totalActivity
      parameters:
        -
          name: clientid
          in: path
          description: 'Client ID (e.g., 1600)'
          required: true
          schema:
            type: integer
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: true
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: true
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: page
          in: query
          description: 'Page number (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/totalActivityRequest'
      responses:
        200:
          description: 'Activity listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/totalActivityResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/totalActivity/{clientid}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.clientid: method.request.querystring.clientid
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.page: method.request.querystring.page
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  '/api/totalActivityExport/{clientid}':
    post:
      tags:
        - Activity
      summary: 'Export Total Activities'
      description: "Export total activities by providing a Bearer token in the 'Authorization' header."
      operationId: totalActivityExport
      parameters:
        -
          name: clientid
          in: path
          description: 'Client ID (e.g., 1600)'
          required: true
          schema:
            type: integer
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: true
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: true
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: page
          in: query
          description: 'Page number (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/totalActivityExportRequest'
      responses:
        200:
          description: 'Activity exports successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/totalActivityExportResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/totalActivityExport/{clientid}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.clientid: method.request.querystring.clientid
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.page: method.request.querystring.page
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/agreement_snippits:
    post:
      tags:
        - Snippits
      summary: 'Get all agreement snippits'
      description: "Retrieve a filtered agreement snippits by providing a Bearer token in the 'Authorization' header."
      operationId: agreementSnippitsListing
      parameters:
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: true
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: true
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: page
          in: query
          description: 'Page number (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdvancedFilteredRequest'
      responses:
        200:
          description: 'Agreement snippits retrieved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agreementSnippitsListingResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/agreement_snippits'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.page: method.request.querystring.page
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/add_snippit:
    post:
      tags:
        - Snippits
      summary: 'Add agreement snippit'
      description: "Save the agreement snippit by providing a Bearer token in the 'Authorization' header."
      operationId: addAgreementSnippit
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/addAgreementSnippitRequest'
      responses:
        200:
          description: 'Agreement snippits saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addAgreementSnippitResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/add_snippit'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  '/api/update_snippit/{snippitId}':
    post:
      tags:
        - Snippits
      summary: 'Update agreement'
      description: "Update the agreement by providing a Bearer token in the 'Authorization' header."
      operationId: updateAgreementSnippit
      parameters:
        -
          name: snippitId
          in: path
          description: 'ID of the agreement snippit to update'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/addAgreementSnippitRequest'
      responses:
        200:
          description: 'Agreement snippits updated successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAgreementSnippitResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/update_snippit/{snippitId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.snippitId: method.request.querystring.snippitId
        passthroughBehavior: when_no_match
        type: http
  '/api/snippit/{snippitId}':
    delete:
      tags:
        - Snippits
      summary: 'Delete a Snippit by ID'
      description: 'Delete a agreement snippit by specifying the ID.'
      operationId: destroySnippit
      parameters:
        -
          name: snippitId
          in: path
          description: 'ID of the agreement snippit to update'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Agreement snippits deleted successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/destroySnippitResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Delete
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/snippit/{snippitId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.snippitId: method.request.querystring.snippitId
        passthroughBehavior: when_no_match
        type: http
  '/api/preview_snippit/{snippitId}':
    get:
      tags:
        - Snippits
      summary: 'Get agreement snippit details by snippitId'
      description: "Retrieve a agreement snippit by snippitId with providing a Bearer token in the 'Authorization' header."
      operationId: previewSnippit
      parameters:
        -
          name: snippitId
          in: path
          description: 'ID of the agreement snippit to update'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Agreement snippits preview successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/previewSnippitResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/preview_snippit/{snippitId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.snippitId: method.request.querystring.snippitId
        passthroughBehavior: when_no_match
        type: http
  /api/agreement_state_snippits:
    post:
      tags:
        - Snippits
      summary: 'Get all State snippit'
      description: "Retrieve a filtered State snippit by providing a Bearer token in the 'Authorization' header."
      operationId: stateSnippitsListing
      parameters:
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: true
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: true
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: page
          in: query
          description: 'Page number (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdvancedFilteredRequest'
      responses:
        200:
          description: 'State snippit retrieved successfullyy'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stateSnippitsListingResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/agreement_state_snippits'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.page: method.request.querystring.page
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/add_state_snippit:
    post:
      tags:
        - Snippits
      summary: 'Add Agreement'
      description: "Save the state snippit by providing a Bearer token in the 'Authorization' header."
      operationId: addStateSnippit
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/addStateSnippitRequest'
      responses:
        200:
          description: 'Agreement state snippit saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addStateSnippitResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/add_state_snippit'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  '/api/update_state_snippit/{snippitId}':
    post:
      tags:
        - Snippits
      summary: 'Update agreement state snippit'
      description: "Update the agreement state snippit by providing a\n     * Bearer token in the 'Authorization' header."
      operationId: updateStateSnippit
      parameters:
        -
          name: snippitId
          in: path
          description: 'ID of the agreement state snippit to update'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/addStateSnippitRequest'
      responses:
        200:
          description: 'Agreement state snippit updated successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateStateSnippitResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/update_state_snippit/{snippitId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.snippitId: method.request.querystring.snippitId
        passthroughBehavior: when_no_match
        type: http
  '/api/state_snippit/{snippitId}':
    delete:
      tags:
        - Snippits
      summary: 'Delete a  state snippit by ID'
      description: 'Delete a agreement state snippit by specifying the ID.'
      operationId: destroyStateSnippit
      parameters:
        -
          name: snippitId
          in: path
          description: 'ID of the agreement snippit to update'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'State snippits deleted successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/destroyStateSnippitResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Delete
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/state_snippit/{snippitId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.snippitId: method.request.querystring.snippitId
        passthroughBehavior: when_no_match
        type: http
  '/api/preview_state_snippit/{snippitId}':
    get:
      tags:
        - Snippits
      summary: 'Get agreement state details by snippitId'
      description: "Retrieve a agreement state snippit by snippitId with providing a\n     * Bearer token in the 'Authorization' header."
      operationId: previewStateSnippit
      parameters:
        -
          name: snippitId
          in: path
          description: 'ID of the agreement snippit to update'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Agreement snippit preview successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/previewStateSnippittResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/preview_state_snippit/{snippitId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.snippitId: method.request.querystring.snippitId
        passthroughBehavior: when_no_match
        type: http
  /api/get_agreement_snippit:
    get:
      tags:
        - Snippits
      summary: 'Get Brands list'
      description: "Retrieve agreement snippit listing by providing a Bearer token in the 'Authorization' header."
      operationId: getSnippit
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Agreement snippit listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSnippitResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/get_agreement_snippit'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  /api/get_state_agreement_snippit:
    get:
      tags:
        - Snippits
      summary: 'Get state agreement snippit list'
      description: "Retrieve state agreement snippit listing by providing a Bearer token in the 'Authorization' header."
      operationId: getStateSnippit
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'State agreement snippit listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStateSnippitResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/get_state_agreement_snippit'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  /api/attestation_sections:
    post:
      tags:
        - 'Attestation Section'
      summary: 'Get all Attestation Section'
      description: "Retrieve Attestation Section by providing a Bearer token in the 'Authorization' header."
      operationId: getAttestationSection
      parameters:
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: true
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: true
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: page
          in: query
          description: 'Page number (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdvancedFilteredRequest'
      responses:
        200:
          description: 'Attestation Section listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAttestationSectionResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/attestation_sections'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.page: method.request.querystring.page
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/attestation_section_add:
    post:
      tags:
        - 'Attestation Section'
      summary: 'Save Attestation Section'
      description: "Save the Attestation Section by providing a Bearer token in the 'Authorization' header."
      operationId: saveAttestationSection
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveAttestationSectionRequest'
      responses:
        200:
          description: 'Attestation Section saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/saveAttestationSectionResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/attestation_section_add'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  '/api/attestation_section_update/{attestationSectionId}':
    post:
      tags:
        - 'Attestation Section'
      summary: 'Update Attestation Section'
      description: "Update the Attestation Section by providing a Bearer token in the 'Authorization' header."
      operationId: attestationSectionUpdate
      parameters:
        -
          name: attestationSectionId
          in: path
          description: 'ID of the filter to update Attestation Section'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveAttestationSectionRequest'
      responses:
        200:
          description: 'Attestation Section updated successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attestationSectionUpdateResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/attestation_section_update/{attestationSectionId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.attestationSectionId: method.request.querystring.attestationSectionId
        passthroughBehavior: when_no_match
        type: http
  '/api/attestation_section/{attestationSectionId}':
    delete:
      tags:
        - 'Attestation Section'
      summary: 'Delete a Attestation Section by ID'
      description: 'Delete a AttestationSection by specifying the ID.'
      operationId: attestationSectionDestroy
      parameters:
        -
          name: attestationSectionId
          in: path
          description: 'ID of the filter to update Attestation Section'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Attestation Section deleted successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attestationSectionDestroyResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Delete
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/attestation_section/{attestationSectionId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.attestationSectionId: method.request.querystring.attestationSectionId
        passthroughBehavior: when_no_match
        type: http
  /api/get_attestation_section:
    get:
      tags:
        - 'Attestation Section'
      summary: 'Get all Attestation Section'
      description: "Retrieve Attestation Section by providing a Bearer token in the 'Authorization' header."
      operationId: getAllAttestationSection
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Attestation Section listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllAttestationSectionResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/get_attestation_section'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  '/api/client_audits/{clientid}':
    get:
      tags:
        - Audits
      summary: 'Get Client Audits'
      description: "Retrieve client audit by providing a Bearer token in the 'Authorization' header."
      operationId: postclientAudits
      parameters:
        -
          name: clientid
          in: path
          description: 'Client ID (e.g., 1600)'
          required: true
          schema:
            type: integer
        -
          name: search
          in: query
          description: 'search field (e.g., test)'
          required: false
          schema:
            type: string
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: false
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: perpage
          in: query
          description: "per page ('1')"
          required: false
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Client audit listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postclientAuditsResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/client_audits/{clientid}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.clientid: method.request.querystring.clientid
          integration.request.querystring.search: method.request.querystring.search
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/login:
    post:
      tags:
        - Login
      summary: 'User login'
      description: 'Authenticate a user and generate a JWT token for authentication.'
      operationId: login
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/loginRequest'
      responses:
        200:
          description: 'Successful login'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loginResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/login'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
        passthroughBehavior: when_no_match
        type: http
  /api/logout:
    post:
      tags:
        - Logout
      summary: 'Logout a user'
      description: 'Logout the currently authenticated user by invalidating their token.'
      operationId: logoutUser
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'User logged out successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logoutUserResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/logout'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
        passthroughBehavior: when_no_match
        type: http
  /api/refresh:
    post:
      tags:
        - Login
      summary: 'Refresh access token'
      description: 'Refresh the access token by providing a valid refresh token in the request body.'
      operationId: refreshToken
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Token refreshed successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refreshTokenResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/refresh'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
        passthroughBehavior: when_no_match
        type: http
  /api/request_otp:
    post:
      tags:
        - Login
      summary: 'Request OTP'
      description: 'Request a one-time password (OTP) for authentication.'
      operationId: requestOtp
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/requestOtpRequest'
      responses:
        200:
          description: 'OTP request successful.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestOtpResponse200'
        404:
          description: 'Bad request'
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/request_otp'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
        passthroughBehavior: when_no_match
        type: http
  /api/verify_otp:
    post:
      tags:
        - Login
      summary: 'Verify OTP'
      description: 'Verify a one-time password (OTP) provided by the user.'
      operationId: verifyOtp
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/verifyOtpRequest'
      responses:
        200:
          description: 'OTP verification successful'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifyOtpResponse200'
        404:
          description: 'Bad request'
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/verify_otp'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
        passthroughBehavior: when_no_match
        type: http
  /api/batch_prints:
    get:
      tags:
        - 'Batch Prints'
      summary: 'Get all batch print'
      description: "Retrieve batch print by providing a Bearer token in the 'Authorization' header."
      operationId: batchPrintListing
      parameters:
        -
          name: search
          in: query
          description: 'search field (e.g., test)'
          required: false
          schema:
            type: string
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: false
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Batch print listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchPrintListingResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/batch_prints'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.querystring.search: method.request.querystring.search
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/prints:
    get:
      tags:
        - 'Batch Prints'
      summary: 'Get all prints'
      description: "Retrieve prints by providing a Bearer token in the 'Authorization' header."
      operationId: printsListing
      parameters:
        -
          name: search
          in: query
          description: 'search field (e.g., test)'
          required: false
          schema:
            type: string
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: false
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Prints listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/printsListingResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/prints'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.querystring.search: method.request.querystring.search
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/batch_print_add:
    post:
      tags:
        - 'Batch Prints'
      summary: 'Add batch print'
      description: "Save the batch print by providing a Bearer token in the 'Authorization' header."
      operationId: saveBatchPrint
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/saveBatchPrintRequest'
      responses:
        200:
          description: 'Batch print saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/saveBatchPrintResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/batch_print_add'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  /api/pending_batch_print:
    get:
      tags:
        - 'Batch Prints'
      summary: 'Get all Batch print'
      description: "Retrieve pending batch print by providing a Bearer token in the 'Authorization' header."
      operationId: getPendingBatchPrints
      parameters:
        -
          name: search
          in: query
          description: 'search field (e.g., test)'
          required: false
          schema:
            type: string
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: false
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Pending batch print listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPendingBatchPrintsResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/pending_batch_print'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.querystring.search: method.request.querystring.search
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  '/api/status_update_batch_print/{batchId}':
    post:
      tags:
        - 'Batch Prints'
      summary: 'Update batch print'
      description: "Update the batch print by providing a Bearer token in the 'Authorization' header."
      operationId: statusUpdateBatchPrint
      parameters:
        -
          name: batchId
          in: path
          description: 'batch ID (e.g., 1)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveBatchPrintRequest'
      responses:
        200:
          description: 'Update batch print saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/statusUpdateBatchPrintResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/status_update_batch_print/{batchId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.batchId: method.request.querystring.batchId
        passthroughBehavior: when_no_match
        type: http
  /api/batch_print_setting:
    get:
      tags:
        - 'Batch Prints'
      summary: 'Get batch print setting'
      description: "Retrieve batch print setting by providing a Bearer token in the 'Authorization' header."
      operationId: getBatchPrintSetting
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Batch print setting detail listed successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBatchPrintSettingResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/batch_print_setting'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  /api/save_batch_print_setting:
    post:
      tags:
        - 'Batch Prints'
      summary: 'Update batch print settings'
      description: "Update batch print settings by providing a Bearer token in the 'Authorization' header."
      operationId: saveBatchPrintSetting
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveBatchPrintSettingRequest'
      responses:
        200:
          description: 'Batch print settings saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/saveBatchPrintSettingResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/save_batch_print_setting'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  /api/billing_categories_list:
    get:
      tags:
        - 'Billing Category'
      summary: 'Get all billing Category'
      description: "Retrieve billing Category by providing a Bearer token in the 'Authorization' header."
      operationId: billingCategories
      parameters:
        -
          name: search
          in: query
          description: 'search field (e.g., test)'
          required: false
          schema:
            type: string
        -
          name: sort_column
          in: query
          description: 'sort_column field (e.g., id)'
          required: false
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        -
          name: perpage
          in: query
          description: 'Items per page (e.g., 10)'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Billing Category listing successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingCategoriesResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Get
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/billing_categories_list'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.querystring.search: method.request.querystring.search
          integration.request.querystring.sort_column: method.request.querystring.sort_column
          integration.request.querystring.sort_direction: method.request.querystring.sort_direction
          integration.request.querystring.perpage: method.request.querystring.perpage
        passthroughBehavior: when_no_match
        type: http
  /api/billing_categories_add:
    post:
      tags:
        - 'Billing Category'
      summary: 'Add Billing Category'
      description: "Save the Billing Category by providing a Bearer token in the 'Authorization' header."
      operationId: saveBillingCategory
      parameters:
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveBillingCategoryRequest'
      responses:
        200:
          description: 'Billing Category saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/saveBillingCategoryResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/billing_categories_add'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
        passthroughBehavior: when_no_match
        type: http
  '/api/billing_categories_update/{categoryId}':
    post:
      tags:
        - 'Billing Category'
      summary: 'Update Billing Category'
      description: "Update the Billing Category by providing a Bearer token in the 'Authorization' header."
      operationId: billingCategoryUpdate
      parameters:
        -
          name: categoryId
          in: path
          description: 'ID of the filter to update Billing Category'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: 'Resource data'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/saveBillingCategoryRequest'
      responses:
        200:
          description: 'Billing Category updated successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingCategoryUpdateResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Post
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/billing_categories_update/{categoryId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.categoryId: method.request.querystring.categoryId
        passthroughBehavior: when_no_match
        type: http
  '/api/billing_categories/{categoryId}':
    delete:
      tags:
        - 'Billing Category'
      summary: 'Delete a Billing Category by ID'
      description: 'Delete a Billing Category by specifying the ID.'
      operationId: billingCategoryDestroy
      parameters:
        -
          name: categoryId
          in: path
          description: 'ID of the filter to update Billing Category'
          required: true
          schema:
            type: integer
        -
          name: x-api-key
          in: header
          required: true
          schema:
            type: string
        -
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Billing Category deleted successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingCategoryDestroyResponse200'
        401:
          description: Unauthorized
      security:
        -
          api_key: []
      x-amazon-apigateway-integration:
        httpMethod: Delete
        uri: 'https://api-dev2.thecreditpros.com/portal2/api/billing_categories/{categoryId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.x-api-key: method.request.header.x-api-key
          integration.request.header.Authorization: method.request.header.Authorization
          integration.request.path.categoryId: method.request.querystring.categoryId
[...]
